In [6]:
my_complex_var = 3 + 4j
print('Complex:', my_complex_var) # Complex: (3+4j)

my_range_var = range(4,7)
print(my_range_var) # range(0, 5)

Complex: (3+4j)
range(4, 7)

In [9]:
nums = [1, 2, 3]
nums[2] = 5

print(nums) # [4, 2, 3]

[1, 2, 5]

In [12]:
numbers = [1,6,7,9,20,10]
for x in numbers:
    if x % 2 == 0:
        print('even')
    else:
        print('odd')

odd
even
odd
odd
even
even

In [ ]:
s='glory glory hallelujah'
a=23
b=4.66
list1=[1,2,3,4]
d={'key':'value'}
bool=True

print (type(s))
print (type(a))
print (type(b))
print (type(list1))
print (type(d))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'dict'>

In [15]:
x=10
x="deutchland uber alles"

print(x)

deutchland uber alles

In [1]:
x=7
def plus_one(x):
    x=x+1
    return x

def double (x):
    x=3*x
    return x
print (x)
print(plus_one(x))
print(double(x))
print(x)

7
8
21
7

In [3]:
#casting any fuking variables i want
s='110'
n=int(s)
cnt=5
f=float(cnt)
age=25
str_age=str(age)
print(n , type(n))
print(f , type(f))
print(str_age , type(str_age))
print( s , type(s))
print( cnt , type(cnt))
print( age , type(age))

110 <class 'int'>
5.0 <class 'float'>
25 <class 'str'>
110 <class 'str'>
5 <class 'int'>
25 <class 'int'>

In [4]:
#something, idk
a=17
b=4
print ("Addition: ", a+b)
print ("subtraction: ", a-b)
print ("multiplication: ", a*b)
print ("division", a/b)
print ("floor division", a//b)
print ("modulus", a%b)
print ("exponent", a**b)

Addition:  21
subtraction:  13
multiplication:  68
division 4.25
floor division 4
modulus 1
exponent 83521

In [5]:
a=15
b=24
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<+b)

x=1.1+2.2
print("check :",x==3.3)
print(1.1+2.2)

print("-"*30)

False
True
False
True
False
True
check : False
3.3000000000000003
------------------------------

In [3]:
print ("Unicode code of C:", ord('C'))
print ("Unicode of 6:", ord('6'))
print ('-'*35)
print ("C==6:", 'C'=='6')
print ('C>6:','C'>'6')
print ('C=!=6:', 'C'!='6')

Unicode code of C: 67
Unicode of 6: 54
-----------------------------------
C==6: False
C>6: True
C=!=6: True

In [ ]:
print ("[2,3,4,9]==[2,3,4,9]:", [2,3,4,9]==[2,3,4,9])
print ('[2,3,4,9]!=[2,3,4,9]:',[2,3,4,9]!=[2,3,4,9])
print ('(2,3,4,9)<(2,4,5,8):',(2,3,4,9)<(2,4,5,8))

[2,3,4,9]==[2,3,4,9]: True
[2,3,4,9]!=[2,3,4,9]: False
(2,3,4,9)<(2,4,5,8): True

In [12]:
a= True 
b= False
print("a and b:", a and b)
print("a or b:", a or b)
print("not a:", not a)
print("not b:", not b)

a and b: False
a or b: True
not a: False
not b: True

In [13]:
a=8
b=a+2
print(b)
b+=a
print(b)
b*=a
print(b)
b <<=a
print(b)

10
18
144
36864

In [17]:
x=12
y=30
list =[10,20,30,40,50]
if (x not in list):
    print ('x is not present in the list')
else: print ('x is present in the list')

if ( y in list):
    print ('y is present in give list')
else:
    print ('y is not present in given list')

x is not present in the list
y is present in give list

In [22]:
x = 0

while x < 5:          # expression: x < 5
    print(x)
    x += 1

0
1
2
3
4

In [23]:
squares_of_even = [x**2 for x in range(10) if x % 2 == 0]
print(squares_of_even)

[0, 4, 16, 36, 64]

In [24]:
a, b, c = 3, 8, 5

result = (max(a, b, c) > 6) and ((a + b) % 2 == 1)
print(result)

True

In [25]:
name = input("Enter your name:")
print("Hello, " + name + "! Welcome to the program.")

Hello, Hoang Minh Chinh! Welcome to the program.

In [ ]:
x,y=input("Enter separated values:").split() # taking two inputs at a time
print("no.1 value:",x)
print("no.2 value:",y)

no.1 value: 2
no.2 value: 3

In [ ]:
n=int(input("Enter number of roses:"))
print(n)
price=float(input("Enter price of roses:"))
print(price)
total=n*price
print("-"*30)
print("Total cost of roses:", total)

3
6.7
------------------------------
Total cost of roses: 20.1

In [1]:
import datetime
today=datetime.datetime.today()
print(f'{today: %B %d, %Y}')

print("-"*30)
name= 'US Marine Corps'
age=250
print(f'{name} is {age} years old.')

 November 28, 2025
------------------------------
US Marine Corps is 250 years old.

In [6]:
name='lietenant'
age='34'
print('Hi my name is {1} and I am {0} years old.'.format(age,name))

Hi my name is lietenant and I am 34 years old.